body {
  margin: 0px;
  background: url("images/mndselger2.svg") no-repeat;
  background-size: cover;
}

img {
  width: 100%;
}

button {
  background: black;
  color: darkslategrey;
}

.trondheim {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  min-width: 100%;
  padding-top: 270px;
  margin-right: 100px;
}

.oslo {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  min-width: 100%;
  padding-top: 270px;
  margin-right: 100px;
}

.box {
  padding-left: 50px;
  padding-right: 50px;
}
